<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c709b">  <td>16/03/13 12:01:59</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Pos001.cleanUp()[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>16/03/13 11:57:54</td>   <td>-245219</td> <td>&nbsp;</td><td title="&gt;&gt;Pos001.setup()[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>16/03/13 11:58:27</td>   <td>-212626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pos001.test(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">test</td> 
  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>16/03/13 12:00:47</td>   <td>-71848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pos001.test(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">test</td> 
  <td>main@1720435669</td>   <td></td> </tr>
</table>
