<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Confluence</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c6a36e">  <td>16/03/13 09:05:09</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Pos001.cleanUp()[pri:0, instance:create.Pos001@43a25848]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>16/03/13 09:05:16</td>   <td>7488</td> <td>&nbsp;</td><td title="&lt;&lt;Pos001.cleanUp()[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>16/03/13 09:00:15</td>   <td>-293405</td> <td>&nbsp;</td><td title="&gt;&gt;Pos001.setup()[pri:0, instance:create.Pos001@43a25848]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>16/03/13 09:00:46</td>   <td>-262873</td> <td>&nbsp;</td><td title="&gt;&gt;Pos001.setup()[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>16/03/13 09:01:13</td>   <td>-235389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pos001.test()[pri:0, instance:create.Pos001@43a25848]">test</td> 
  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>16/03/13 09:02:12</td>   <td>-176293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pos001.test(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">test</td> 
  <td>main@1720435669</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>16/03/13 09:03:30</td>   <td>-98733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Pos001.test(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:setRestrictions.Pos001@3ac3fd8b]">test</td> 
  <td>main@1720435669</td>   <td></td> </tr>
</table>
